@use '/src/styles/variables';

@mixin read-more-theme($color: variables.$ocean-color, $url: url("../../assets/arrows/ocean-arrow-right.png")){
  background-color: transparent;
  border: 0;
  color: $color;
  margin: 1.5rem 0;
  position: relative;
  cursor: pointer;

  &:after{
    content: "";
    position: absolute;
    background-image: $url;
    width: 30px;
    height: 30px;
    top: -2px;
    right: -35px;
    transition: right 0.5s;
  }

  &:hover:after{
    right: -50px;
  }
}

.read-more-btn-blue{
  @include read-more-theme(variables.$ocean-color,  url("../../assets/arrows/ocean-arrow-right.png"));
}

.read-more-btn-grey{
  @include read-more-theme(variables.$grey-color,  url("../../assets/arrows/arrow-right-grey.png"));
}
