@use '/src/styles/variables';

@mixin theme-btn($color, $padding, $background, $border, $hover-bg: rgb(211 211 211 / 13%)){
  color: $color;
  padding: $padding;
  background: $background;
  border-radius: 20px;
  border: $border;
  transition: background 0.4s, filter 0.4s;

  &:hover {
    cursor: pointer;
    transition: 0.4s;
    filter: brightness(1.5);
    background: $hover-bg;
  }
}

@mixin read-more-theme($color, $url){
  background-color: transparent;
  border: 0;
  color: $color;
  margin: 1.5rem 0;
  position: relative;
  cursor: pointer;

  &:after{
    content: "";
    position: absolute;
    background-image: $url;
    width: 30px;
    height: 30px;
    top: -2px;
    right: -35px;
    transition: right 0.5s;
  }

  &:hover:after{
    right: -50px;
  }
}

.get-vaccine-btn{
  @include theme-btn(white, 15px, variables.$ocean-color, 1px solid rgb(211 211 211 / 22%));
  text-shadow: 2px 2px 1px #10101070;
}

.help-btn{
  @include theme-btn(white, 15px, rgba(211, 211, 211, 0.16), 2px solid variables.$ocean-color);
}

.reg-btn{
  @include theme-btn(white, 15px 25px, variables.$ocean-color, 1px solid rgb(211 211 211 / 22%));
}

.check-vaccine-btn{
  @include theme-btn(variables.$ocean-color, 15px 35px, rgba(211, 211, 211, 0.16), 2px solid variables.$ocean-color);
}

.read-more-btn-blue{
  @include read-more-theme(variables.$ocean-color,  url("../../assets/arrows/ocean-arrow-right.png"));
}

.read-more-btn-grey{
  @include read-more-theme(variables.$grey-color,  url("../../assets/arrows/arrow-right-grey.png"));
}

.reg-today-btn{
  @include theme-btn(white, 15px 25px, variables.$ocean-color, 1px solid rgb(211 211 211 / 22%), rgb(21 166 202));
  width: 100%;
}