@use "src/styles/variables";
@import "src/styles/mixins";

.schedule-container{
  padding: variables.$padding-middle-block;
  margin-top: 40px;

  @media (min-width: 768px) {
    margin: variables.$margin-middle-block;
  }

  img{
    padding: 0.5rem;
    border-radius: 8px;
    background-color: variables.$img-bg-color;
  }

  .schedule-introduction{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span{
      padding-left: 1rem;
    }
  }

  .schedule-reg{
    background: variables.$img-bg-color;
    padding: variables.$padding-into-block;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .schedule-reg-form{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      align-items: center;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }

      @media (min-width: 1250px) {
        justify-content: space-evenly;
      }

      .schedule-reg-block{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;

        @media (min-width: 500px) {
          padding: 10px 5px;
          flex-direction: row;
        }

        @media (min-width: 1250px) {
          padding: 10px 5px;
        }

        div{
          display: flex;
          flex-direction: column;
          padding: 0 15px;
          color: variables.$grey-color;

          @media (min-width: 500px) {
            text-align: left;
          }

          @media (min-width: 768px) {
            padding: 0 0 0 15px;
          }

          input{
            margin-top: 5px;
            background: transparent;
            border: 1px solid rgba(211, 211, 211, 0.13);
            border-radius: 7px;
            color: white;
          }
        }
      }

      .reg-btn{
        @include theme-btn(white, 15px 25px, variables.$ocean-color, 1px solid rgb(211 211 211 / 22%));
        margin-top: 20px;

        @media (min-width: 1250px) {
          margin: 0;
        }
      }
    }
  }
}
