$main-text-color: white;
$ocean-color: rgb(23, 194, 236);
$grey-color: rgba(211, 211, 211, 0.34);
$bg-image: url("/assets/unsplash.png");
$padding-middle-block: 1rem;
$margin-middle-block: 0.5rem 3rem;
$padding-into-block: 1.5rem 0;
$img-bg-color:rgb(211 211 211 / 8%);
$semi-transparent-bg:rgb(211 211 211 / 15%);
$margin-mobile: 0px;

