@import "src/styles/variables";

.vaccines-type{
  padding: 1rem;
  display: flex;
  justify-content: center;

  .slick-track{
    display: flex;
    align-items: center;
    opacity: 0.5 !important;
  }

  .slick-dots{
    bottom: 0;
  }
}
