@import "src/styles/variables";

//.vaccines-types {
//  padding: 0 1rem;
//  margin: $margin-middle-block;
//  display: flex;
//  justify-content: space-between;
//  opacity: 0.5;
//  align-items: center;
//}
.slick-track{
  display: flex;
  align-items: center;
  opacity: 0.5 !important;
}