@import "src/styles/variables";

@mixin symptom-view($width: 100%){
    display: flex;
    width: $width;
    justify-content: space-between;
    margin: 30px 0;

    .symptom-info{
      display: flex;
      position: relative;
      align-items: center;
      background-color:$semi-transparent-bg;
      margin: 5px;
      border-radius: 10px;
      padding: 5px;
      text-align: center;
      width: 120px;
      justify-content: center;

      @media (min-width: 500px) {
        width: 180px;
      }

      @media (min-width: 768px) {
        width: 220px;
        height: 58px;
      }

      svg{
        width: 30px;
        height: 30px;
        position: absolute;
        left: -18px;
        
        @media (min-width: 500px) {
          width: 40px;
          height: 40px;
          left: -20px;
        }

        @media (min-width: 768px) {
          width: 50px;
          height: 50px;
          left: -20px;
        }
      }

      span{
        font-size: 12px;
        margin-left: 5px;
        color: $ocean-color;
        
        @media (min-width: 500px) {
          font-size: 17px;
        }

        @media (min-width: 768px) {
          font-size: 20px;
        }
      }
    }
}

.symptoms-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  color: white;
  padding-top: 3rem;
  background: bottom center url("../../assets/headache.svg") no-repeat, $bg-image no-repeat;
  background-size: contain, cover;

  @media (min-width: 500px) {
    background-size: 400px, cover;
  }

  @media (min-width: 768px) {
    align-items: center;
    background-size: 600px, cover;
  }

  .symptoms-intro{
    text-align: center;
    padding:$padding-middle-block;

    @media (min-width: 768px) {
      margin:$margin-middle-block;
    }

    div, h2{
      padding:$padding-into-block;
    }

    div{
      display: flex;
      flex-direction: column;
      color:$grey-color;
    }

    h2{
      font-size: 45px;

      span{
        font-size: 45px;
        color:$ocean-color;
      }
    }
  }

  .symptoms-details{
    padding: $padding-middle-block;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      width: 90%;
    }

    @media (min-width: 1250px) {
      width: 70%;
    }

    .symptoms-first {
      @include symptom-view;

      @media (min-width: 768px) {
        width: 80%;
      }
    }

    .symptoms-seconds {
      @include symptom-view;
      @media (min-width: 768px) {
        width: 90%;
      }
    }

    .symptoms-third {
      @include symptom-view;
    }
  }
}