@import "src/styles/variables";
@import "src/styles/mixins";

.get-vaccine-today-container{
  padding:$padding-middle-block;

  .vaccine-today-wrapper{
    display: flex;
    //justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      margin:$margin-middle-block;
    }

    @media (min-width: 1250px){
      flex-wrap: nowrap;
    }

    .vaccine-today-form-wrapper{
      display: flex;
      flex-basis: content;
      flex-direction: column;
      text-align: center;
      //width: 100%;

      @media (min-width: 1250px) {
        text-align: left;
      }

      .vaccination-today-intro{
        font-size: 45px;
        font-weight: bold;
      }

      form{
        .reg-today-input{
          margin: 25px 0;

          label{
            font-weight: bold;
          }

          input{
            margin: 1rem 0;
            width: 100%;
            padding: 15px;
            border-radius: 15px;
            border: 0;
            background-color:$grey-color;
            outline: none;
            color:$ocean-color;
          }

          &:nth-child(2){
            display: flex;
            flex-direction: column;

            span{
              margin-top: 1rem;
              color: grey;
            }
          }
        }

        .PhoneInput{
          display: flex;
          gap: 15px;
        }

        .PhoneInputCountry{
          display: flex;
          align-items: center;
          width: 65px;
          position: relative;
        }

        .PhoneInputCountryIcon > img{
          width: 30px;
          height: 30px;
        }

        .PhoneInputCountrySelect{
          width: 20px;
          position: absolute;
          right: 0;
          border: 0;
          cursor: pointer;
        }

        .reg-today-btn{
          @include theme-btn(white, 15px 25px, $ocean-color, 1px solid rgb(211 211 211 / 22%), rgb(21 166 202));
          width: 100%;
        }
      }

      .already-check{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;

        span{
          color:grey;
        }

        a{
          cursor: pointer;
          color:$ocean-color;
          transition: 0.5s color;

          &:hover{
            color: rgb(21, 166, 202);
          }
        }
      }
    }

    .verify-status-wrapper{
      background-color: #0B153C;
      width: 45%;
      margin-top: 50px;

      @media (min-width: 1250px) {
        margin-top: 0;
      }

      .verify-status{
        background-image: url("../../assets/take-vaccine-from-jarm.svg");
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}