@import "src/styles/variables";
@import "src/styles/mixins";


.vaccine-today-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:$padding-middle-block;
  align-items: center;

    @media (min-width: 768px) {
      margin:$margin-middle-block;
    }

    @media (min-width: 1250px){
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .vaccine-today-form-wrapper{
      display: flex;
      flex-basis: content;
      flex-direction: column;
      text-align: center;
      width: 45%;

      @media (min-width: 1250px) {
        text-align: left;
        flex-basis: unset;
      }

      .vaccination-today-intro{
        font-size: 45px;
        font-weight: bold;
      }

      form{
        .reg-today-input{
          margin: 25px 0;

          label{
            font-weight: bold;
          }

          input{
            margin: 1rem 0;
            width: 100%;
            padding: 15px;
            border-radius: 15px;
            border: 0;
            background-color:$grey-color;
            outline: none;
            color:$ocean-color;
          }

          &:nth-child(2){
            display: flex;
            flex-direction: column;

            span{
              margin-top: 1rem;
              color: grey;
            }
          }
        }

        .PhoneInput{
          display: flex;
          gap: 15px;
        }

        .PhoneInputCountry{
          display: flex;
          align-items: center;
          width: 65px;
          position: relative;
        }

        .PhoneInputCountryIcon > img{
          width: 30px;
          height: 30px;
        }

        .PhoneInputCountrySelect{
          width: 20px;
          position: absolute;
          right: 0;
          border: 0;
          cursor: pointer;
        }

        .reg-today-btn{
          @include theme-btn(white, 15px 25px, $ocean-color, 1px solid rgb(211 211 211 / 22%), rgb(21 166 202));
          width: 100%;
        }
      }

      .already-check{
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;

        span{
          color:grey;
        }

        a{
          cursor: pointer;
          color:$ocean-color;
          transition: 0.5s color;

          &:hover{
            color: rgb(21, 166, 202);
          }
        }
      }
    }

    .verify-status-wrapper{
      background-color: #0B153C;
      min-width: 300px;
      margin-top: 50px;
      border-radius: 30px;
      color: white;
      height: 500px;
      background-image: url("../../assets/take-vaccine-from-jarm.svg");
      background-size: contain;
      background-position: left bottom;

      @media (min-width: 500px) {
        background-size: cover;
        min-width: 400px;
      }

      @media (min-width: 1250px){
        margin-top: 0;
      }

      .verify-status-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: inherit;
        
        .coronavirus{
          position: absolute;
          top: -30px;
          left: -15px;
          width: 75px;
          height: 75px;

          @media (min-width: 500px){
            width: auto;
            height: auto;
            left: -30px;
          }
        }
        
        .verify-status{
          height: 90%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-weight: bold;
          align-items: center;

          span{
            white-space: pre-line;
            text-align: center;
          }

          .verify-status-btn{
            @include theme-btn(white, 15px 50px, $semi-transparent-bg, 0, rgba(211, 211, 211, 0.34))
          }
        }
      }
    }
}