@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto&display=swap');

$main-text-color: white;
$ocean-color: rgb(23, 194, 236);
$grey-color: #d3d3d3b5;
$bg-image: url("assets/unsplash.png");
$padding-middle-block: 1rem;
$margin-middle-block: 0.5rem 3rem;
$padding-into-block: 1.5rem 0;
$img-bg-color:rgb(211 211 211 / 8%);
$semi-transparent-bg:rgb(211 211 211 / 15%);


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.go-top-btn{
  position: fixed;
  top: 50%;
  right: 5px;
  transition: 0.5s top, 0.5s opacity;

  &:hover{
    cursor: pointer;
    opacity: 0.6;
    top: 49%;
  }
}

.introduction {
  background-image: $bg-image;
  width: 100%;
  color: $main-text-color;
  background-size: cover;

  .logo-block {
    position: relative;
    cursor: pointer;
    padding: 8px 0;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $ocean-color;
      transition: width .5s;
    }

    &:hover:after{
      width: 100%;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-middle-block;
    margin: 0 3rem;

    ul {
      display: flex;
      list-style-type: none;
      width: 40%;
      justify-content: space-between;

      li {
        display: block;
        position: relative;
        padding: 0.5rem 0;
        cursor: pointer;
        color: $grey-color;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: $ocean-color;
          opacity: 0;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          transition: color 0.4s, opacity 0.4s;
        }

        &:hover, &:hover::after {
          opacity: 1;
          color: white;
        }
      }
    }
  }
}


.introduction-info-container{
  padding: $padding-middle-block;
  margin: $margin-middle-block;
  display: flex;
  justify-content: space-between;
  $width: 45%;

  .introduction-info{
    width: $width;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    span:first-child{
      color: $ocean-color;
    }

    .introduction-phrase{
      h1, span{
        font-size: 2rem;
      }

      span{
        color: $ocean-color;
      }
    }

    .introduction-info-help{
      color: $grey-color;
    }

    .introduction-btns{
      width: 65%;
      display: flex;
      justify-content: space-between;
    }
  }

  .vaccine-block{
    position: relative;
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-image: url("assets/vaccine-container.png");

    .vaccine-viruses{
      position: absolute;
      width: 110%;
      justify-content: space-between;
      display: flex;
    }

    .doctors{
      position: absolute;
      left: -35px;
      bottom: -35px;
      display: flex;
      background: rgba(211, 211, 211, 0.16);
      padding: 1rem;
      border-radius: 20px;

      div{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        justify-content: space-evenly;

        span:last-child{
          color: $ocean-color;
        }
      }
    }
  }
}


.schedule-container{
  padding: $padding-middle-block;
  margin: $margin-middle-block;

  img{
    padding: 0.5rem;
    border-radius: 8px;
    background-color: $img-bg-color;
  }

  .schedule-introduction{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span{
      padding-left: 1rem;
    }
  }

  .schedule-reg{
    background: $img-bg-color;
    padding: $padding-into-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;

    .schedule-reg-form{
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      .schedule-reg-block{
        display: flex;
        align-items: center;
        padding: 0 5px;

        div{
          display: flex;
          flex-direction: column;
          padding: 0 15px;
          color:$grey-color;

          input{
            margin-top: 5px;
            background: transparent;
            border: 1px solid rgba(211, 211, 211, 0.13);
            border-radius: 7px;
            color: white;
          }
        }
      }
    }
  }
}

.vaccines-types{
  padding: 0 1rem;
  margin:$margin-middle-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

.vaccination-today-container{
  background-image: $bg-image;
  background-size: cover;
  color: $main-text-color;
  padding: $padding-into-block;

  .check-result-wrapper{
    padding:$padding-middle-block;
    margin:$margin-middle-block;
    font-weight: bold;

    .check-result{
      border-radius: 8px;
      overflow: hidden;
      background:$img-bg-color;

      span:first-child{
        width: 100%;
        display: block;
        background: $semi-transparent-bg;
        padding:1.5rem 3rem;
      }

      .check-form{
        padding:1.5rem 3rem;

        div{
          display: flex;
          justify-content: space-between;
          padding-bottom: 2rem;

          input{
            padding: 0 30px;
            background: transparent;
            font-size: 30px;
            border-radius: 15px;
            border:3px solid rgba(211, 211, 211, 0.16);
            outline: none;
            color:$main-text-color;

            &:focus{
              border-color:$ocean-color;
            }
          }
        }
      }

      span:last-child{
        display: flex;
        justify-content: center;
        background-color: $semi-transparent-bg;
        padding: 1rem 0;
        color:$ocean-color;
        border-radius: 15px;

        a{
          color: inherit;
          padding-left: 5px;
        }
      }
    }
  }

  .why-today{
    padding:$padding-middle-block;
    margin:$margin-middle-block;

    .why-today-intro{
      display: flex;
      justify-content: space-between;

      span:first-child{
        font-size: 45px;
        font-weight: bold;
        width: 45%;
      }

      span:last-child{
        color:$grey-color;
        width: 43%;
        font-weight: 100;
      }
    }
  }

  .vaccination-reasons{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    .main-reason{
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding: 3rem 1.5rem;
      background-color: rgba(211, 211, 211, 0.15);
      border-radius: 50px 150px 50px 50px;

      img{
        background-color: $semi-transparent-bg;
        border-radius: 15px;
        padding: 0.5rem;
      }

      h2{
        color:$ocean-color;
        padding:$padding-into-block;
        font-size: 25px;
      }

      span{
        font-size: 18px;
      }
    }

    .secondary-reasons{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 55%;

      div{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        background-color: transparent;
        width: 320px;
        height: 320px;
        padding: 2rem;
        border-radius: 30px;
        border: 2px solid $grey-color;

        span{
          padding:$padding-into-block;
          font-weight: bold;
        }
      }
    }
  }
}
